.inputs {
    width: 250px;
    text-align: right;
}

.inputs > input, button{
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 150px;
    height: 20px;
}

button{
    border: 1px solid black;
    border-radius: 5px;
}

.task {
    width: 300px;
}

#Ð¡hangingBlock{
    border: 1px solid black;
    border-radius: 10px;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

