table{
    border-collapse: collapse;
    border: 1px solid black;
}

td{
    border: 1px solid black;
    width: 200px;
    height: 30px;
}

input{
    height: 30px;
    width: 200px;
    margin: 5px;
    border: none;
    padding-left: 5px;
}

input[disabled] {
    background-color: white;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button{
    height: 30px;
    width: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
}



.container{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;

}

.buttonRight{
    align-self: center;
}

.buttonBottom{
    justify-self: center;
}




