.order{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
        
input{
    align-self: stretch;
    margin-bottom: 10px;
}

button{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 5px;
}

#map{
    height: 200px;
    align-self: stretch;
    margin-bottom: 10px;
    border: 1px solid grey;
}

textarea{
    align-self: stretch;
    resize: none;
    height: 100px;
    margin-bottom: 10px;
}

#errorList{
    margin-left: auto;
    margin-right: auto;
}


